<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content="保养 | 上门汽车保养 | " />
    <meta name="description" content="保养上门汽车保养,1对1上门服务,正品配件
懒人汽车保养,价格透明,现在预约即送300万保养责任险" />
    <link href="css8/newcss.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css8/common.css?v=18ea028849" />



</head>
<body>
<div class="header">


    <div class="logo">
        <dl>
            <dt style="float: left;"><img src="images8/logo.jpg" alt="logo"/></dt>
            <dd style="float: left;font-size: 32px;margin-top: 80px;">湖南沃德诺威信息科技有限公司</dd>
        </dl>
    </div>

</div>
<div class="tnav2" id="slideNav2"><div class="tnav2inner mw">
    <ul class="tnav2list">
        <li ><a href="index.html" class="dt">首&ensp;页</a></li>
        <li class="gt"></li>

        <li><a href="service.html" class="dt">服务内容</a>

        </li>

        <li class="gt"></li>
        <li><a href="advantage.html" class="dt">公司优势</a>
            <div class="tnav2_sec">
                <a href="advantage.html">公司优势</a>

                <a href="qualifications.html">资质荣誉</a>

            </div>
        </li>
        <li ><a href="control.html" class="dt">服务流程</a></li>
        <li class="gt"></li>
        <li><a href="price.html" class="dt">保养报价</a></li>
        <li class="gt"></li>
        <li class="current_nav"><a href="contact.html" class="dt">联系我们</a></li>
    </ul>
    <i class="tnavline2" id="slideNavLine2"></i>
</div></div>



<div class="main_wrapper">
    <div class="choosecar_wrapper">
        <p class="about_txt">沃德诺威保养致力于做中国汽车后市场领先的服务电商，为车主提供方便、专业、可信赖的服务。沃德诺威保养业务范围覆盖汽车保养维修、配件销售、保险理赔、平行进口车、养车管家等多个领域。目前，沃德诺威保养直营门店已开设数十家，涵盖全国多座城市，全国合作门店超过1600家，已构建完成汽车后市场线上服务+连锁体系+超级供应链的综合生态圈。</p>
    </div>

    <div class="news_wrapper">
        <p class="wrapper_title">如何预约保养服务？</p>
        <p class="wrapper_sub_title">2种方式轻松预约上门汽车保养服务，为您的爱车保驾护航。</p>
        <div class="wrap">
            <ul class="about_list2">
                <li>
                    <img src="images8/weixin.jpg"/>
                    <p><font>1</font>微信扫一扫，关注官方微信，进行自助下单。</p>
                </li>
                <li>
                    <img src="images8/about_pc.png"/>
                    <p><font>2</font>登录www.vvbaoyang.cn，按照步骤进行下单。</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="width: 100%;height: 20px;">

</div>


<div class="newfooter">
    <div class="newfoot">
        <ul>
            <li><a href="index.html" title="公司首页">公司首页</a>|</li>
            <li><a href="service.html" title="服务内容">服务项目</a>|</li>
            <li><a href="advantage.html" title="公司优势">公司优势</a>|</li>
            <li><a href="control.html" title="质量控制">服务流程</a>|</li>
            <li><a href="price.html" title="价格体系">保养价格</a>|</li>
            <li><a href="contact.html" title="联系我们">联系我们</a></li>

        </ul>
    </div>

    <p class="tac">
        Copyright &copy; 2017 LandaishuTranslation Service Co., Ltd All Rights Reserved.<br/>
        湖南沃德诺威信息科技有限公司版权所有
    </p>
</div>


<script src="js8/jquery-1.js"></script>
<script src="js8/jquery.js"></script>
<script src="js8/tool.js"></script>

<script src="js8/jquery.min.js"></script>
<script src="js8/jquery.easing.min.js"></script>
<script type="text/javascript" src="js8/json.js"></script>
<script type="text/javascript" src="js8/common.js"></script>



</body>
</html>