
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>湖南沃德诺威信息科技有限公司</title>
    <meta name="keywords" content="上门保养，上门修车，信息科技公司" />
    <meta name="description" content="长沙汽车，上门保养，上门修车" />
    <link th:href="@{/css8/newcss.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="header">


    <div class="logo">
        <dl>
            <dt style="float: left;"><img src="images8/logo.jpg" alt="logo"/></dt>
            <dd style="float: left;font-size: 32px;margin-top: 80px;">湖南沃德诺威信息科技有限公司</dd>
        </dl>
    </div>

</div>
<!--end头文件-->

<div class="tnav2" id="slideNav2">
    <div class="tnav2inner mw">
    <ul class="tnav2list">
        <li class="current_nav"><a href="index.html" class="dt">首&ensp;页</a></li>
        <li class="gt"></li>

        <li><a href="service.html" class="dt">服务项目</a>

        </li>

        <li class="gt"></li>
        <li><a href="advantage.html" class="dt">公司优势</a>
            <div class="tnav2_sec">
                <a href="advantage.html">公司优势</a>

                <a href="qualifications.html">资质荣誉</a>

            </div>
        </li>
        <li><a href="control.html" class="dt">服务流程</a></li>
        <li class="gt"></li>
        <li><a href="price.html" class="dt">保养报价</a></li>
        <li class="gt"></li>
        <li><a href="contact.html" class="dt">联系我们</a></li>
    </ul>
    <i class="tnavline2" id="slideNavLine2"></i>
    </div>
</div>
<!-- banner -->
<div class="ibn" id="ibn">
    <ul class="bd">
        <li class="ibnitem">
            <div style="background-image: url(images8/flash/05.jpg);" class="ibnbg"></div>
            <div class="l_ibndec ibndec">
                <div class="fadeInUp t1"></div>
                <div class="delay2 fadeInUp t2"></div>
                <div class="delay3 fadeInUp p"></div>
            </div>
        </li>
        <li class="ibnitem">
            <div style="background-image: url(images8/flash/04.jpg);" class="ibnbg"></div>
            <div class="r_ibndec ibndec">
                <div class="fadeInUp t1"></div>
                <div class="delay2 fadeInUp t2"></div>
                <div class="delay3 fadeInUp p"></div>
            </div>
        </li>
        <li class="ibnitem">
            <div style="background-image: url(images8/flash/06.jpg);" class="ibnbg"></div>
            <div class="r_ibndec ibndec">
                <div class="fadeInUp t1">&emsp;</div>
                <div class="delay2 fadeInUp t2"></div>
                <div class="delay3 fadeInUp p"></div>

            </div>
        </li>
    </ul>
    <ul class="hd"></ul>
</div>
<!-- end banner -->


<!-- 中间 -->

<!-- 一行 -->
<div class="whrow floor"><div class="mw">
    <div class="rowtitle"><span class="fadeInUp rowtitle_text">关于沃德诺威</span><i class="rowtitle_gyline ie6_png"></i></div>
    <div class="rowp">
        <p class="delay2 fadeInUp">xx移动智能汽修平台(www.xxx.com)隶属于湖南沃德诺威信息科技有限公司，是长沙首家在线上门修车、养车服务提供商，致力于打造简单车生活，为广大车主提供足不出户的全方位的紧急上门修车和爱车养护服务。通过官网、微信及养车热线即可预约下单。</p>
        <p class="delay3 fadeInUp">  </p>

    </div>
</div></div>
<!-- end 一行 -->
<div id="weishenme" style="text-align: center; background-color: #F1F2F7; width: 100%; height: auto;">
    <div style="width: 100%; height: 30px;"></div>
    <img class="img" style="margin-left: auto; text-align: center; display: inline;" original="images8/weishenme.jpg" th:src="@{/images8/weishenme.jpg}"/>
    <div style="width: 100%; height: 30px;"></div>
</div>

<div id="fuwuliucheng" style="text-align: center; background-color: #fff; width: 100%; height: auto;">
    <img class="img" style="margin-left: auto; text-align: center; display: inline;" original="images8/fuwuliucheng.jpg" th:src="@{/images8/fuwuliucheng.jpg}"/>
</div>
<!-- 一行 -->
<div class="gyrow floor"  >
    <div class="mw" >

    <div class="rowtitle"><span class="fadeInUp rowtitle_text">服务承诺</span><i class="rowtitle_gyline ie6_png"></i></div>
    <ul class="delay2 fadeInUp serlist3 cf2">
        <li class="fore01">
            <a href="#" class="cico"><i class="ico"></i></a>
            <div class="t"><a href="#" title="正品低价">正品低价</a></div>
            <p class="p">国内外顶级配件，由品牌直供，100%正品0利润，更欢迎自备配件</p>
        </li>
        <li class="fore02">
            <a href="#" class="cico"><i class="ico"></i></a>
            <div class="t"><a href="#" title="按时交付">按时交付</a></div>
            <p class="p">我们经手的每一个项目，都能保证按时或提前交付给客户。</p>
        </li>
        <li class="fore03">
            <a href="#" class="cico"><i class="ico"></i></a>
            <div class="t"><a href="#" title="透明服务">透明服务</a></div>
            <p class="p">1对1高质量高专业高素质的标准化服务，提出针对性养护意见，提供保养全程录像。</p>
        </li>
        <li class="fore04">
            <a href="#" class="cico"><i class="ico"></i></a>
            <div class="t"><a href="#" title="180天超长质保">180天超长质保</a></div>
            <p class="p">上门服务180天内，无论任何时间，只要您对服务质量有任何异议，都可以联系到我们进行售后服务。</p>
        </li>
        <li class="fore05">
            <a href="#" class="cico"><i class="ico"></i></a>
            <div class="t"><a href="#" title="安全可靠">安全可靠</a></div>
            <p class="p">6大系统检测，出具规范检测报告，5年以上4s店汽修经验、高质量高专业高素质资深技师，300万保险保障。</p>
        </li>

        <li class="fore06">
            <a href="#" class="cico"><i class="ico"></i></a>
            <div class="t"><a href="#" title="严格保密">严格保密</a></div>
            <p class="p">严守秘密，是我们的职业操守，同时公司有严格的保密流程，防止用户信息泄漏。</p>
        </li>
    </ul>
</div>
</div>
<!-- end 一行 -->
<!-- 一行 -->
<div class="whrow floor">
    <div class="mw">
    <div class="mb50 rowtitle"><span class="fadeInUp rowtitle_text">品牌客户</span><i class="rowtitle_gyline ie6_png"></i></div>
    <ul class="delay2 fadeInUp brand6 cf2">
        <li><a href="casestudy.html">
            <div class="cut"><img th:src="@{/images8/01.jpg}" alt="腾讯" /></div>

            <div class="t">腾讯</div>
        </a></li>
        <li><a href="casestudy.html">
            <div class="cut"><img th:src="@{/images8/02.jpg}" alt="中国平安" /></div>
            <div class="t">中国平安</div>
        </a></li>
        <li><a href="casestudy.html">
            <div class="cut"><img th:src="@{/images8/03.jpg}" alt="中国人保" /></div>
            <div class="t">中国人保</div>
        </a></li>
        <li><a href="casestudy.html">
            <div class="cut"><img th:src="@{/images8/04.jpg}" alt="中国石油" /></div>
            <div class="t">中国石油</div>
        </a></li>
        <li><a href="casestudy.html">
            <div class="cut"><img th:src="@{/images8/05.jpg}" alt="中信银行" /></div>
            <div class="t">中信银行</div>
        </a></li>
        <li><a href="casestudy.html">
            <div class="cut"><img th:src="@{/images8/06.jpg}" alt="亚马逊" /></div>
            <div class="t">亚马逊</div>
        </a></li>

    </ul>
</div>
</div>


<!-- end 一行 -->
<!-- 一行 -->

<!-- end 一行 -->
<!-- 一行 -->
<!-- end 一行 -->

<!-- 待维护 一行 -->

<div class="newfooter">
    <div class="newfoot">
        <ul>
            <li><a th:href="@{/index.html}" title="公司首页">公司首页</a>|</li>
            <li><a th:href="@{service.html}" title="服务内容">服务项目</a>|</li>
            <li><a th:href="@{advantage.html}" title="公司优势">公司优势</a>|</li>
            <li><a th:href="@{control.html}" title="质量控制">服务流程</a>|</li>
            <li><a th:href="@{price.html}" title="价格体系">保养价格</a>|</li>
            <li><a th:href="@{contact.html}" title="联系我们">联系我们</a></li>

        </ul>
    </div>

    <p class="tac">
        Copyright &copy; 2017 World Love Service Co., Ltd All Rights Reserved.<br/>
        湖南沃德诺威信息科技有限公司版权所有
    </p>
</div>





    <!--end最小-->

    <!--end文件底-->

    <script th:src="@{/js8/jquery-1.js}"></script>
    <script th:src="@{js8/jquery.js}"></script>
    <script th:src="@{js8/jquery.SuperSlide.2.1.2.js}"></script>
    <script th:src="@{js8/tool.js}"></script>




    <!--cnzz tongji code-->


</body>
</html>

