<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="翻译,翻译公司,上海翻译公司,专业翻译公司,本地化公司" />
    <meta name="oilBrand" content="长沙蓝袋鼠翻译公司是一家具有十多年行业经验的专业翻译公司，专注于笔译、口译、网站翻译、软件本地化翻译、桌面排版(DTP)、创译、语言资产管理以及翻译技术研发和培训等专业服务,可以提供中、英等语种的翻译。蓝袋鼠翻译公司是中国翻译协会(TAC)理事单位，美国翻译协会(ATA)会员，全球化与本地化协会(GALA)会员，是一家通过ISO 9001:2008质量管理体系认证的知名翻译公司。翻译服务热线：0730-6262192。" />
    <link href="css8/newcss.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        (function(){var ua=navigator.userAgent.toLowerCase();var bIsIpad=ua.match(/ipad/i)=="ipad";var bIsIphoneOs=ua.match(/iphone os/i)=="iphone os";var bIsAndroid=ua.match(/android/i)=="android";var bIsWM=ua.match(/windows mobile/i)=="windows mobile";if(bIsIpad||bIsIphoneOs||bIsAndroid||bIsWM){window.location.href="http://fanyi999.com/index.html"}})();
    </script>
    <style type="text/css">
        *{margin: 0;padding: 0;}

        /*導航下面的圖*/
        .banner{
            width: 100%;
            margin: 0 auto;
            height: 240px;
            background: url(images8/qietu/980X200-advantage.jpg) no-repeat;
            background-size: 100% 100%;
        }




    </style>
</head>
<body>
<div class="header">


    <div class="logo">
        <dl>
            <dt style="float: left;"><img src="images8/logo.jpg" alt="logo"/></dt>
            <dd style="float: left;font-size: 32px;margin-top: 80px;">湖南沃德诺威信息科技有限公司</dd>
        </dl>
    </div>

</div>
<div class="tnav2" id="slideNav2"><div class="tnav2inner mw">
    <ul class="tnav2list">
        <li ><a href="index.html" class="dt">首&ensp;页</a></li>
        <li class="gt"></li>

        <li><a href="service.html" class="dt">服务内容</a>

        </li>

        <li class="gt"></li>
        <li class="current_nav"><a href="advantage.html" class="dt">公司优势</a>
            <div class="tnav2_sec">
                <a href="advantage.html">公司优势</a>

                <a href="qualifications.html">资质荣誉</a>

            </div>
        </li>
        <li ><a href="control.html" class="dt">服务流程</a></li>
        <li class="gt"></li>
        <li ><a href="price.html" class="dt">价格体系</a></li>
        <li class="gt"></li>
        <li><a href="contact.html" class="dt">联系我们</a></li>
    </ul>
    <i class="tnavline2" id="slideNavLine2"></i>
</div></div>


<div class="banner">
    <div class="banner1"></div>
    <span>公司资质</span>
</div>

<div class="cf2 gray_box">
    <div class="cf2 min_box gray_w">
        <h4 class="th_line">公司营业执照</h4>
        <div class="awards_book"><img src="images8/zizhi.png" alt="公司营业执照"></div>
        <!--end图片-->
    </div>



    <div class="newfooter">
        <div class="newfoot">
            <ul>
                <li><a href="index.html" title="公司首页">公司首页</a>|</li>
                <li><a href="service.html" title="服务内容">服务项目</a>|</li>
                <li><a href="advantage.html" title="公司优势">公司优势</a>|</li>
                <li><a href="control.html" title="质量控制">服务流程</a>|</li>
                <li><a href="price.html" title="价格体系">保养价格</a>|</li>
                <li><a href="contact.html" title="联系我们">联系我们</a></li>

            </ul>
        </div>

        <p class="tac">
            Copyright &copy; 2017 LandaishuTranslation Service Co., Ltd All Rights Reserved.<br/>
            湖南沃德诺威信息科技有限公司版权所有
        </p>
    </div>




    <script src="js8/jquery-1.js"></script>
<script src="js8/jquery.js"></script>
<script src="js8/jquery.SuperSlide.2.1.2.js"></script>
<script src="js8/tool.js"></script>



</body>
</html>